/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* ====================== */
.container {
  max-width: 1440px;
  background-color: #fff;

  margin: 0 auto;
}

#singleImagesForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 371px;

  margin: 36px auto;
}
.form-input {
  border-radius: 4px;
  width: 272px;
  height: 36px;
  background-color: #fff;
  padding: 0px 16px;
  border: 3px solid #808080;
}

input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

input:hover {
  border: 3px solid black;
}

input:focus {
  border: 3px solid #6c8cff;
  outline: none;
}

.form-button {
  text-align: center;

  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;

  background-color: #4e75ff;
  color: #fff;
  border: none;
}

.form-button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  max-width: 1128px;

  padding: 0;
  margin: 0 auto;
}

.gallery-item {
  width: calc((100% - 50px) / 3);
  border: 1px solid #808080;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.description {
  padding: 4px 20px;

  display: flex;
  justify-content: space-between;

  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

p {
  font-weight: 600;
  line-height: 1.33333;
}

span {
  font-weight: 400;
  line-height: 2;
}

.hidden {
  display: none;
}

/* ================ */
.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  position: relative;

  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #fff2;
    box-shadow: 32px 0 #fff2, -32px 0 #fff;
  }
  50% {
    background-color: #fff;
    box-shadow: 32px 0 #fff2, -32px 0 #fff2;
  }
  100% {
    background-color: #fff2;
    box-shadow: 32px 0 #fff, -32px 0 #fff2;
  }
}

/* ============== */

.btn-load-more {
  margin: 0 auto;
  text-align: center;

  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background-color: #4e75ff;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  border: none;
}

span {
}
